body {
  margin: 0;
  background: #f5f5f5;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 900px;
  background: #fff;
  margin: auto;
  padding: 20px;
}

.app-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.app-icon {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

.developer {
  color: #1a73e8;
  margin: 4px 0;
}

.meta {
  color: #666;
  font-size: 14px;
}

.install-btn {
  display: block;
  margin: 20px 0;
  background: #1a73e8;
  color: white;
  text-align: center;
  padding: 14px;
  font-size: 18px;
  border-radius: 30px;
  text-decoration: none;
}

/* Screenshot container */
.screenshots {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 10px 0;
}

/* Rectangle 39930 */
.screen-bg {
  box-sizing: border-box;
  width: 138px;
  height: 281px;
  background: linear-gradient(
    359.97deg,
    #212450 -5.9%,
    #2F3162 99.97%
  );
  border: 1px solid #000000;
  border-radius: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}

/* Screenshot image */
.screen-bg img {
  width: 120px;
  height: auto;
  border-radius: 14px;
}


.screenshots img {
  width: 180px;
  border-radius: 12px;
}

section {
  margin-top: 30px;
}

.review {
  background: #fafafa;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}
